<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

<section class="hero hero-banner"
    style="background-image: url(https://cdn.shopify.com/s/files/1/0141/5242/t/16/assets/fitsix6-post_JuKk.jpg?v=1620123493338);">
    <div class="hero-content">
        <h1>Transform your body and <br> achieve your fitness goals</h1>
        <p>Welcome to our state-of-the-art gym, where you can push your limits <br>and become the best version of
            yourself.</p>
    </div>
</section>


<section class="services">
    <div>
        <h2>How to join?</h2>
        <br>
        <p>Visit the gym's reception desk. The receptionist will assist you with registration, including filling out a
            membership form and providing necessary personal details.</p>
        <p>If rou already have an account, <br> please sing in.</p>
        <a href="/home/#join" class="btn btn-primary">Join</a>
    </div>
    <div>
        <img src="https://i.ytimg.com/vi/SnIECpkpWyE/maxresdefault.jpg" alt="">
    </div>
</section>

<section class="services">
    <div>
        <img src="https://img.freepik.com/psd-premium/maqueta-logotipo-gimnasio-moderno-diseno-interiores-gimnasio-pared-negra_9790-2306.jpg" alt="">

    </div>
    <div>
        <h2>Start Working Out</h2>
        <br>
        <p>Once registered, you can start using the gym facilities, attending classes, and enjoying the benefits of your
            membership.</p>

        <a href="/ClassActivities" class="btn btn-primary">Activities</a>
    </div>
</section>



<section class="contact hero-banner">
    <div class="cta-content">
        <h2>Any question?</h2>
        <p>Please reach out to us and let us know your questions, <br> we're happy to help</p>
        <a href="#" class="btn btn-secondary">Contact</a>
    </div>
</section>