@{
    ViewData["Title"] = "Gym-Proyecto2";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/exerciseRegister.js" defer asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/routineCreation.css" asp-append-version="true" />

<h2 class="form-title">Form to register an Exercise </h2>


<div class="form-container" style="max-width: 600px;">
<form id="exerciseRegisterForm">
    <div class="form-group">
        <label class="form-label"
         for="exerciseID">Exercise ID:</label>
        <input class="form-input"
         type="text" class="form-control" id="exerciseID" name="id" required>
    </div>
    <div class="form-group">
        <label class="form-label"
         for="description">Description:</label>
        <input class="form-input"
         type="text" class="form-control" id="description" name="description" required>
    </div>    
     <div class="form-group">
        <label class="form-label"
         for="reps">Reps Quantity:</label>
        <input class="form-input"
         type="text" class="form-control" id="reps" name="reps" required>
     </div>    
    <div class="form-group">
        <label class="form-label"
         for="weight">Weight:</label>
        <input class="form-input"
         type="text" class="form-control" id="weight" name="weight" required>
    </div>
    <div class="form-group">    
        <label class="form-label"
         for="time">Time:</label>
        <input class="form-input"
         type="text" class="form-control" id="time" name="time" required>
    </div>
    <!--
    <div class="form-group"> 
        <label class="form-label"
         for="time">Machine ID:</label>
        <input class="form-input"
         type="text" class="form-control" id="machineId" name="machineId" required>
    </div>
    -->
    @if(ViewBag.excerciseBase != null) {
        <div class="form-group">
            <label
             for="excerciseBase" class="form-label">Select a ExcerciseBase</label>
            <select id="exerciseBaseId" name="excerciseBase" class="form-select">
                <option value="" selected disabled> </option>
                @foreach(var excerciseBase in ViewBag.excerciseBase){
                    <option value="@excerciseBase["id"]">@excerciseBase["name"]</option>
                }
            </select>
        </div>
    }else {
        <div class="form-group">
            <label for="coach" class="form-label">Select a ExcerciseBase</label>
            <select id="excerciseBase" name="excerciseBase" class="form-select">
                <option value="404">Not Found</option>

            </select>
        </div>
    }

        @if(ViewBag.machineList != null) {
        <div class="form-group">
            <label
             for="machineList" class="form-label">Select a Machine</label>
            <select id="machineId" name="machineList" class="form-select">
                <option value="" selected disabled> </option>
                @foreach(var machineList in ViewBag.machineList){
                    <option value="@machineList["id"]">@machineList["name"]</option>
                }
            </select>
        </div>
    }else {
        <div class="form-group">
            <label for="coach" class="form-label">Select a Machine</label>
            <select id="excerciseBase" name="excerciseBase" class="form-select">
                <option value="404">Not Found</option>
            </select>
        </div>
    }   


    <div class="form-group"> 
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    
</form>
</div>
<br>
<br />




