@{
    ViewData["Title"] = "Gym-Proyecto2";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="~/css/routineCreation.css" asp-append-version="true" />

    <h2>Exercise Register</h2>


<div class="form-container">
<form id="createExerciseForm">
    <div class="form-group">
        <label for="exerciseID">Exercise ID:</label>
        <input type="text" class="form-control" id="exerciseID" name="id" required>
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description" name="description" required>
        <label for="reps">Reps Quantity:</label>
        <input type="text" class="form-control" id="reps" name="reps" required>
        <label for="weight">Weight:</label>
        <input type="text" class="form-control" id="weight" name="weight" required>
        <label for="time">Time:</label>
        <input type="text" class="form-control" id="time" name="time" required>


    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<br>
<br />


<script src="~/js/routineCreation.js" asp-append-version="true"></script>

