@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="">Welcome</h1>
    <button class="btn btn-primary">click</button>
    <button class="btn btn-secondary">click</button>

    <br><br>

    <div class="form-container">
        <div class="form-group">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" class="form-input" placeholder="shadcn">
            <small class="form-help-text">This is your public display name.</small>
        </div>
        <div class="form-group">
            <label for="fruit" class="form-label">Select a fruit</label>
            <select id="fruit" class="form-select">
                <option>Select a fruit</option>
                <option value="apple">Apple</option>
                <option value="banana">Banana</option>
                <option value="cherry">Cherry</option>
                
            </select>
        </div>

        <!-- Checkbox -->
        <div class="form-group">
            <label class="form-label">
                <input type="checkbox" class="form-checkbox">
                I agree to the terms and conditions
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="form-button">Submit</button>
        </div>
    </div>

    <br><br>

</div>
