@{
    ViewData["Title"] = "Gym-Proyecto2";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />


<section class="hero hero-banner">
    <div class="hero-content">
        <h1>Transform your body and <br> achieve your fitness goals</h1>
        <p>Welcome to our state-of-the-art gym, where you can push your limits <br>and become the best version of
            yourself.</p>
        <div class="cta-buttons">
            <a href="#join" class="btn btn-secondary">Join</a>
        </div>
    </div>
</section>

<section class="services">
    <div>
        <h2>Unleash Your Potential with Our Gym Services</h2>
    </div>
    <div>
        <p>Discover a wide range of services designed to help you achieve your fitness goals. From personalized
            training sessions to energizing group classes, our state-of-the-art equipment and experienced
            trainers
            are here to support you every step of the way.</p>
        <a href="#join" class="btn btn-primary">Join</a>
    </div>
</section>

<section class="call-to-action hero-banner">
    <div class="cta-content">
        <h2>Get Fit and Stay Healthy</h2>
        <p>Join our gym and experience a transformation in your fitness journey.</p>
        <a href="#" class="btn btn-secondary">Activities</a>
    </div>
</section>

<section class="join" id="join">
    <div class="form-container">
        <form data-form data-state-form="login">
            <img class="logo"
                src="https://png.pngtree.com/png-vector/20191004/ourmid/pngtree-lock-icon-png-image_1788630.jpg" alt="">
            <div class="form-main">
                <div data-form-inputs data-login>
                    <h3 class="form-title">Have an acount?</h3>
                    <div class="form-group">
                        <label for="email-login" class="form-label">Email</label>
                        <input type="email" id="email-login" name="email" class="form-input"
                            placeholder="myEmail@gmail.com">
                        <small class="form-help-text error"></small>
                    </div>
                    <div class="form-group">
                        <label for="password-login" class="form-label">Password</label>
                        <input type="password" data-soft-rules id="password-login" name="password" class="form-input"
                            placeholder="mySecret123">
                        <small class="form-help-text error"></small>
                    </div>
                    <div class="form-group">
                        <button data-forgot-password>
                            <small class="form-help-text">Forgot password?</small>
                        </button>
                    </div>
                </div>
                <div data-form-inputs data-forgotpass>
                    <h3 class="form-title">Forgot Password</h3>
                    <div class="form-group">
                        <label for="email-forgot" class="form-label">Email</label>
                        <input type="email" id="email-forgot" name="email" class="form-input"
                            placeholder="myEmail@gmail.com">
                        <small class="form-help-text error"></small>
                    </div>
                    <div class="form-group">
                        <label for="password-new" class="form-label">New password</label>
                        <input type="password" id="password-new" name="password" class="form-input"
                            placeholder="mySecret123">
                        <small class="form-help-text error"></small>
                    </div>
                    <div class="form-group">
                        <label for="password-confirm" class="form-label">Confirm password</label>
                        <input type="password" id="password-confirm" name="password_confirmation" class="form-input"
                            placeholder="mySecret123">
                        <small class="form-help-text error"></small>
                    </div>
                    <div class="form-group">
                        <button data-back-signin>
                            <small class="form-help-text">Back to login?</small>
                        </button>
                    </div>
                </div>
                <div data-form-inputs data-validate-code>
                    <h3 class="form-title">Verification code</h3>
                    <div class="form-group">
                        <label for="code" class="form-label">Code</label>
                        <input type="number" id="code" name="code" class="form-input" placeholder="xxxxx">
                        <small class="form-help-text error"></small>
                    </div>
                    <div class="form-group">
                        <button data-resent-code style="text-align: left;">
                            <small class="form-help-text">Didn't recived a message? <strong>Re-send</strong></small>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-footer">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
                <small class="form-help-text footnote">Don't have an account? <a href="/home/about"
                        class="link">About</a></small>
            </div>
        </form>
    </div>
</section>


<section class="contact hero-banner">
    <div class="cta-content">
        <h2>Any question?</h2>
        <p>Please reach out to us and let us know your questions, <br> we're happy to help</p>
        <a href="#" class="btn btn-secondary">Contact</a>
    </div>
</section>

<script src="~/js/signin.js" type="module" asp-append-version="true"></script>
