@{
    ViewData["Title"] = "Gym-Proyecto2";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/routineUpdate.js" defer asp-append-version="true"></script>



    <h2>Routine Update</h2>

<!-- Discounts Table -->
        <div class="table-container">

            <table id="routineTable" class="display">
                <thead>
                    <tr>
                        <th>Routine ID</th>
                        <th>User ID</th>
                        <th>Creator ID</th>
                    </tr>
     
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>



<div class="form-container">
<form id="updateRoutineForm">
    <div class="form-group">
        <label class="form-label" for="routineID">Enter Routine ID to modify:</label>
        <input class="form-input" type="text" class="form-control" id="routineID" name="id" required>
    </div> 
    <div class="form-group">   
        <label class="form-label" for="clientID">Enter New Client ID:</label>
        <input class="form-input" type="text" class="form-control" id="clientID" name="client" required>
    </div>
    <div class="form-group">       
        <label class="form-label" for="trainerID">Enter New Trainer ID:</label>
        <input class="form-input" type="text" class="form-control" id="trainerID" name="trainer" required>
    </div>

    <div class="form-group"> 
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    
</form>
</div>
<br>
<br/>
