# .NET
**/bin/
**/obj/
**/artifacts/
/API/obj/
/BL/obj/
/DAO/obj/
/DTO/obj/
/UI/obj/
*.csproj.user
*.cache
*.editorconfig

# NuGet
*.nupkg
*.snupkg
.nuget/

# VS Code
.vscode/

# Rider
.idea/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
