<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    @* CSS STYLES *@

    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.0/css/dataTables.dataTables.min.css"
        asp-append-version="true" /> <!-- Agregado por Maria -->
</head>

<body>
    @* <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>*@
    <div class="container">
        <header class="header">
            <div class="wrap-main-navigation">
                <a href="/" class="logo">
                    <img src="/img/logo-2.png"
                        alt="">
                </a>
                <nav class="nav">
                    <a href="/classActivities" class="nav-link">activities</a>
                    <a href="/home/About" class="nav-link">about</a>
                    <a href="/" class="nav-link">contact</a>
                </nav>
            </div>
            <div class="wrap-management-navigation">
                @* This will be dynamic *@
                <a href="/home/#join" class="btn btn-primary">Sign in</a>
                @* This will be dynamic *@
                <a href="" class="btn btn-secondary">Profile</a>
            </div>
        </header>
    </div>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2023 Gym Website. All rights reserved.</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.datatables.net/2.1.0/js/dataTables.min.js"></script>
    <!-- Agregado por Maria, arma la tabla -->



    @RenderSection("Scripts", required: false) <!-- Agregado por Maria -->

    <script>
        $(function () {
            var dtToday = new Date();

            var month = dtToday.getMonth() + 1;
            var day = dtToday.getDate();
            var year = dtToday.getFullYear();
            if (month < 10)
                month = '0' + month.toString();
            if (day < 10)
                day = '0' + day.toString();

            var maxDate = year + '-' + month + '-' + day + "T00:00";

            // or instead:
            // var maxDate = dtToday.toISOString().substr(0, 10);

            $('input[type=datetime-local]').attr('min', maxDate);
        });
    </script>
</body>

</html>
