@{
    ViewData["Title"] = "Lista de Roles";
}

    <h2>Lista de Roles</h2>

<br>
<br />

    <form action="/TypeUser/Create">
    <button class="btn btn-primary" type="submit" value="Create Role">Create Role</button>
    </form>
<br>
<br />

    <table id="TablaRoles">

    <thead>
        <tr size >
            <th style="width:12%">Rol Code</th>
            <th >Rol Name </th>
            <th style ="width:10%">Update</th>
            <th style ="width:10%">Delete</th>
        </tr>
    </thead>



</table>



<br>
<br />

<!-- Referencia al archivo JavaScript -->
@section Scripts {
    <script src="~/js/typeUser.js"></script> 
}


