<link rel="stylesheet" href="~/css/management-appointments.css" asp-append-version="true" />

<section class="hero-banner hero">
    <div class="cta-content">
        <h1>Efficient Gym Appointment <br> Management System</h1>
        <p>Welcome to our Gym Appointment Management System, <br> your one-stop solution for scheduling and managing
            <br> gym appointments seamlessly.
        </p>
        <a href="#appointments-inventory" class="btn btn-secondary">appointments </a>
        <a href="#create-appointment" class="btn btn-secondary">Create </a>
    </div>
</section>

<section id="appointments-inventory" class="appointments-inventory">
    <h2>Appointments</h2>
    <div data-table-appointments>
        <div class="filter-container">
            <input type="date" id="filterDate" class="filter-input">
            <input type="text" id="searchId" placeholder="Search by ID" class="filter-input">
            <button class="btn btn-primary" id="refresh">Refresh</button>
        </div>
        <div class="table-container">
            <table id="appointmentTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Goer</th>
                        <th>Coach</th>
                        <th>Goer-ID</th>
                        <th>Coach-ID</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data will be inserted here -->
                </tbody>
            </table>
            <div id="actionBtns" class="action-btns">
                <button class="btn btn-secondary" id="deleteBtn">Delete</button>
            </div>
        </div>
        <div id="message" class="message loading">Loading...</div>
    </div>
</section>

<section class="create-appointment" id="create-appointment">
    <div class="form-container">
        <form data-form data-state-form="create">
            <img class="logo"
                src="https://icons.veryicon.com/png/o/commerce-shopping/mall-linear-icon-library/make-an-appointment-30.png"
                alt="">
            <div class="form-main">
                <div data-form-inputs data-create>
                    <h3 class="form-title">Create an appointment</h3>
                    <div class="form-group">
                        <label for="date" class="form-label">Date</label>
                        <input type="datetime-local" id="date" name="date" class="form-input" placeholder="">
                        <small class="form-help-text error"></small>
                    </div>
                    <div class="form-group">
                        <label for="goer" class="form-label">Goer</label>
                        <input type="text" id="goer" name="userAId" class="form-input" placeholder="ID Goer">
                        <small class="form-help-text error"></small>
                    </div>
                    @if(ViewBag.coaches != null) {
                        <div class="form-group">
                            <label for="coach" class="form-label">Select a coach</label>
                            <select id="coach" name="userBId" class="form-select">
                                @foreach(var user in ViewBag.coaches){
                                    <option value="@user.id">@user.name</option>
                                }
                            </select>
                        </div>
                    }else {
                        <div class="form-group">
                            <label for="coach" class="form-label">Select a coach</label>
                            <select id="coach" name="userBId" class="form-select">
                                <option value="3">Rodrigo</option>
                                <option value="8">Juan</option>
                                <option value="9">Ted</option>
                            </select>
                        </div>
                    }
                    <div class="form-group">
                        <button data-update-appoinment style="text-align: left;">
                            <small class="form-help-text">Do want to update an appointment <strong>Click here</strong></small>
                        </button>
                    </div>
                </div>
                <div data-form-inputs data-update>
                    <h3 class="form-title">Update an appointment</h3>
                     <div class="form-group">
                        <label for="id" class="form-label">Id</label>
                        <input type="text" id="id" name="id" class="form-input" placeholder="ID Appoinment">
                        <small class="form-help-text error"></small>
                    </div>
                    <div class="form-group">
                        <label for="date" class="form-label">Date</label>
                        <input type="datetime-local" id="date" name="date" class="form-input" placeholder="">
                        <small class="form-help-text error"></small>
                    </div>
                    <div class="form-group">
                        <label for="goer" class="form-label">Goer</label>
                        <input type="text" id="goer" name="userAId" class="form-input" placeholder="ID Goer">
                        <small class="form-help-text error"></small>
                    </div>
                    @if(ViewBag.coaches != null) {
                        <div class="form-group">
                            <label for="coach" class="form-label">Select a coach</label>
                            <select id="coach" name="userBId" class="form-select">
                                @foreach(var user in ViewBag.coaches){
                                    <option value="@user.id">@user.name</option>
                                }
                            </select>
                        </div>
                    }else {
                        <div class="form-group">
                            <label for="coach" class="form-label">Select a coach</label>
                            <select id="coach" name="userBId" class="form-select">
                                <option value="3">Rodrigo</option>
                                <option value="8">Juan</option>
                                <option value="9">Ted</option>
                            </select>
                        </div>
                    }
                    <div class="form-group">
                        <button data-create-appoinment style="text-align: left;">
                            <small class="form-help-text">Do want to update an appointment <strong>Click here</strong></small>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-footer">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
                <small class="form-help-text footnote">Already have an account? <a href="/home/#join"
                        class="link">Login</a></small>
            </div>
        </form>
    </div>
</section>

<script src="~/js/management-appointments.js" type="module" asp-append-version="true"></script>
